/* styles the body element. which cascades to all other elements within the body */
body { 
  font-family: 'Open Sans', sans-serif; 
  font-size: 16px;
  line-height: 1;
}

/* styles the area where the user inputted text appears */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* adds additional styles to the jumbotron element */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*sets the css property white-space to preserve formatting */
.description{
  white-space: pre-wrap;
}
/* additional styling to time-block element */
.time-block{
  text-align: center;
  border-radius: 15px;
}
/* additional stying for each  */
.row { 
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}
/* styling for the time-block hour display */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* This is what makes the past hour-blocks turn gray when they are in the past */
.past {
  background-color: #d3d3d3;
  color: white;
}
/* sets color for present box */
.present {
  background-color: #ff6961;
  color: white;
}
/* sets colors for all future blocks */
.future {
  background-color: #77dd77;
  color: white;
}
/* additional styling for the save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
/* handles additional styling for the hover event attached to the save button. adds the small animation to the hover event */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


